<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WBZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WBZ.Properties.Settings>
      <setting name="apiUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="userName" serializeAs="String">
        <value />
      </setting>
      <setting name="userPass" serializeAs="String">
        <value />
      </setting>
      <setting name="dbName" serializeAs="String">
        <value />
      </setting>
      <setting name="rememberMe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_TitleBarStyle" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="iSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="config_Admin_PanelColor" serializeAs="String">
        <value>#FF444444</value>
      </setting>
      <setting name="config_Documents_PanelColor" serializeAs="String">
        <value>#FF33AAEE</value>
      </setting>
      <setting name="columns_DocumentsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DocumentsList_StoreName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Type" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_PositionsCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Weight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Cost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_DateIssue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_StoresList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_Codename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_StoresList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_StoresList_Postcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_City" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_Address" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_Amount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_StoresList_Reserved" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Articles_PanelColor" serializeAs="String">
        <value>#FF55DD55</value>
      </setting>
      <setting name="columns_ArticlesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_ArticlesList_Codename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_EAN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Measure" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Amount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Reserved" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Contractors_PanelColor" serializeAs="String">
        <value>#FFEEEE55</value>
      </setting>
      <setting name="config_Families_PanelColor" serializeAs="String">
        <value>#FFEEAA33</value>
      </setting>
      <setting name="config_Stats_PanelColor" serializeAs="String">
        <value>#FFBB88DD</value>
      </setting>
      <setting name="columns_FamiliesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_Declarant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_Lastname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_Members" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_City" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_Address" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_Postcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_DonationWeight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_Status" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_DonationLast" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Email_Host" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="config_Email_Port" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="config_Email_Email" serializeAs="String">
        <value>wbz.email.testowy@gmail.com</value>
      </setting>
      <setting name="config_GSM_com" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="config_GSM_message" serializeAs="String">
        <value>WBZ, Twoja paczka jest do odebrania. </value>
      </setting>
      <setting name="config_Email_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="conn_server" serializeAs="String">
        <value>wbztest.ddns.net</value>
      </setting>
      <setting name="conn_port" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="conn_database" serializeAs="String">
        <value>wbz</value>
      </setting>
      <setting name="conn_userID" serializeAs="String">
        <value />
      </setting>
      <setting name="conn_password" serializeAs="String">
        <value />
      </setting>
      <setting name="config_Distributions_PanelColor" serializeAs="String">
        <value>#FFEE5555</value>
      </setting>
      <setting name="columns_DistributionsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DistributionsList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_FamiliesCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_MembersCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DistributionsList_PositionsCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_Weight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_DateReal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FontFamily" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_UsersList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_UsersList_Fullname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_UsersList_Email" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_UsersList_Phone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_LogsList_UserFullname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_Module" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_Obj" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_Content" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_DateTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Attmisc_PanelColor" serializeAs="String">
        <value>#FFFF69B4</value>
      </setting>
      <setting name="columns_EmployeesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_EmployeesList_Fullname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_EmployeesList_Department" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_EmployeesList_Position" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_EmployeesList_Email" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_EmployeesList_Phone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_EmployeesList_Postcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_EmployeesList_City" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_EmployeesList_Address" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sorting_EmployeesList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>e.lastname</string>
            <string>False</string>
            <string>e.forename</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_UsersList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>u.lastname</string>
            <string>False</string>
            <string>u.forename</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_ArticlesList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>a.codename</string>
            <string>False</string>
            <string>a.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_StoresList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>s.codename</string>
            <string>False</string>
            <string>s.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_FamiliesList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>f.lastname</string>
            <string>False</string>
            <string>f.city</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_DocumentsList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>d.dateissue</string>
            <string>True</string>
            <string>d.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_DistributionsList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>d.datereal</string>
            <string>True</string>
            <string>d.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_LogsList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>l.datetime</string>
            <string>True</string>
            <string>l.id</string>
            <string>True</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_AttributesClassesList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ac.module</string>
            <string>False</string>
            <string>ac.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_GroupsList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>g.module</string>
            <string>False</string>
            <string>g.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="sorting_AttachmentsGallery" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>a.module</string>
            <string>False</string>
            <string>a.name</string>
            <string>False</string>
            <string>20</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="columns_EmployeesList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_ArticlesList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_AttributesClassesList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DistributionsList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DocumentsList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_AttributesClassesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_AttributesClassesList_Module" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_AttributesClassesList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_AttributesClassesList_Type" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_AttributesClassesList_Values" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_AttributesClassesList_Required" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sorting_AttachmentsList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>a.module</string>
            <string>False</string>
            <string>a.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="columns_AttachmentsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_AttachmentsList_Module" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_AttachmentsList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_AttachmentsList_UserFullname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_AttachmentsList_Instance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>pl</value>
      </setting>
      <setting name="config_Stores_PanelColor" serializeAs="String">
        <value>#FF44CCCC</value>
      </setting>
      <setting name="config_Users_PanelColor" serializeAs="String">
        <value>#FF99AABB</value>
      </setting>
      <setting name="config_Employees_PanelColor" serializeAs="String">
        <value>#FFBB9966</value>
      </setting>
      <setting name="config_AttributesClasses_PanelColor" serializeAs="String">
        <value>#FFEEAA33</value>
      </setting>
      <setting name="config_Attachments_PanelColor" serializeAs="String">
        <value>#FFEEEE55</value>
      </setting>
      <setting name="config_Logs_PanelColor" serializeAs="String">
        <value>#FF44CCCC</value>
      </setting>
      <setting name="config_Groups_PanelColor" serializeAs="String">
        <value>#FF33AAEE</value>
      </setting>
      <setting name="config_Community_PanelColor" serializeAs="String">
        <value>#FFFF69B4</value>
      </setting>
      <setting name="config_ExpandGroups" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_ShowButtonTexts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_ContractorName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Contractors_PanelColor1" serializeAs="String">
        <value>#FFEEEE55</value>
      </setting>
      <setting name="columns_ContractorsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_ContractorsList_Codename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ContractorsList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ContractorsList_Branch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ContractorsList_NIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_ContractorsList_REGON" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_ContractorsList_Postcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_ContractorsList_City" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ContractorsList_Address" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sorting_ContractorsList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>c.codename</string>
            <string>False</string>
            <string>c.name</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="columns_ContractorsList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sorting_VehiclesList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>v.register</string>
            <string>False</string>
            <string>v.brand</string>
            <string>False</string>
            <string>50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="config_Vehicles_PanelColor" serializeAs="String">
        <value>#FF55DD55</value>
      </setting>
      <setting name="columns_VehiclesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_VehiclesList_Register" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_VehiclesList_Brand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_VehiclesList_Model" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_VehiclesList_Capacity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_VehiclesList_Forwarder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_VehiclesList_Driver" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_VehiclesList_ProdYear" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_VehiclesList_Icon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_ShowButtonWithText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThemeColor" serializeAs="String">
        <value>#FF444444</value>
      </setting>
    </WBZ.Properties.Settings>
  </userSettings>
</configuration>
