<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WBZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WBZ.Properties.Settings>
      <setting name="apiUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="userName" serializeAs="String">
        <value />
      </setting>
      <setting name="userPass" serializeAs="String">
        <value />
      </setting>
      <setting name="dbName" serializeAs="String">
        <value />
      </setting>
      <setting name="rememberMe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_TitleBarStyle" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="config_FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="config_UsersList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_UsersList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_UsersAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_UsersAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_AttributesClassesList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_AttributesClassesList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_AttributesClassesAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_AttributesClassesAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_LogsList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_LogsList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_Admin_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_DocumentsAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_DocumentsAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_Documents_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_DocumentsList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_DocumentsList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_DocumentsList_RowsLimitPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="columns_DocumentsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DocumentsList_StoreName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_CompanyName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Type" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_PositionsCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Weight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_Cost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DocumentsList_DateIssue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Stores_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_StoresList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_StoresList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_StoresAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_StoresAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="columns_StoresList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_Codename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_StoresList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_StoresList_Postcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_City" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_Address" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_StoresList_Amount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_StoresList_Reserved" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_ArticlesAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_Articles_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_ArticlesList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_ArticlesList_RowsLimitPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="columns_ArticlesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_ArticlesList_Code" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_EAN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Measure" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Amount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_ArticlesList_Reserved" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_CompaniesAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_CompaniesAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_Companies_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_CompaniesList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_CompaniesList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_CompaniesList_RowsLimitPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="columns_CompaniesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_CompaniesList_Codename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_CompaniesList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_CompaniesList_Branch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_CompaniesList_NIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_CompaniesList_REGON" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_CompaniesList_Postcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_CompaniesList_City" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_CompaniesList_Address" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_FamiliesList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_FamiliesList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_Families_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_FamiliesAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_FamiliesAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_FamiliesList_RowsLimitPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="config_DistributionsAdd_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_DistributionsAdd_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_DistributionsList_RowsLimitPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="config_Stats_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_Stats_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_Stats_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_Community_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="columns_FamiliesList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_Declarant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_Lastname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_Members" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_City" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_Address" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_Postcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_FamiliesList_DonationWeight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_Status" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_FamiliesList_DonationLast" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Email_Host" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="config_Email_Port" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="config_Email_Email" serializeAs="String">
        <value>wbz.email.testowy@gmail.com</value>
      </setting>
      <setting name="config_GSM_com" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="config_GSM_message" serializeAs="String">
        <value>WBZ, Twoja paczka jest do odebrania. </value>
      </setting>
      <setting name="config_Email_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="conn_server" serializeAs="String">
        <value>wbztest.ddns.net</value>
      </setting>
      <setting name="conn_port" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="conn_database" serializeAs="String">
        <value>wbz</value>
      </setting>
      <setting name="conn_userID" serializeAs="String">
        <value />
      </setting>
      <setting name="conn_password" serializeAs="String">
        <value />
      </setting>
      <setting name="config_DistributionsList_WindowY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="config_DistributionsList_WindowX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="config_Distributions_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="columns_DistributionsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DistributionsList_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_FamiliesCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_MembersCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_DistributionsList_PositionsCount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_Weight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_DistributionsList_DateReal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FontFamily" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_Code" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_Name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_EAN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_Measure" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_Amount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_Reserved" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_Created" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_ArticlesList_dgListShow_Modified" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_id" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_branch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_nip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_regon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_city" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_address" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_post_code" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_invoices_count"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_modified" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_modifier" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_created" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_CompaniesList_dgListShow_creator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_id" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_name" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_lastname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_members" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_city" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_address" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_post_code" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_count_donation"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_status" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_last_donation"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_modifier" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_modified" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_creator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_FamiliesList_dgListShow_created" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_UsersList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_UsersList_Fullname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_UsersList_Email" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_UsersList_Phone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_ID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="columns_LogsList_UserFullname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_Module" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_Obj" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_Content" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="columns_LogsList_DateTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="config_Attmisc_PanelColor" serializeAs="String">
        <value>#EEE</value>
      </setting>
      <setting name="config_UsersList_LimitPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="config_UsersList_Sort1By" serializeAs="String">
        <value>u.lastname</value>
      </setting>
      <setting name="config_UsersList_Sort1Order" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="config_UsersList_Sort2By" serializeAs="String">
        <value />
      </setting>
      <setting name="config_UsersList_Sort2Order" serializeAs="String">
        <value>False</value>
      </setting>
    </WBZ.Properties.Settings>
  </userSettings>
</configuration>